SAMBA_NOVA_API_KEY=xxx-xxx-xxx-xxx-xxx
SCALEWAY_API_KEY=xxx
GROQ_API_KEY=gsk_xxx
NVIDIA_NIM_API_KEY=nvapi-xx-xxx-xxx
OPENCODE_ZEN_API_KEY=sk-xxx
GOOGLE_API_KEY=xx.xxx
GITHUB_TOKEN=xxx
CEREBRAS_API_KEY=xxx
DEEPSEEK_API_KEY=sk-xxx
MISTRAL_API_KEY=xxx
OLLAMA_API_KEY=xxx
OPENROUTER_API_KEY=sk-or-xxx
OMLX_API_KEY=xxxx
LM_STUDIO_API_KEY=xxx
DEBUG=false
